* {
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  body {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.container {
  width: 80%;
  display:grid;
  grid-template-columns: 25% 75%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
